{% extends "Proyecto01/base.html" %}

{% load static %}

{% block content %}

<section>
    <div style="width: 75%; margin: auto; text-align: center; color: white;">
        Categorías:
    
        {% for articulo in articulos %}

            {% for categoria in articulo.categorias.all %}
        
            {{ categoria.tipo }} &nbsp; &nbsp;
            
            {% endfor %}
        
        {% endfor %}
        

    </div>
</section>

{% for articulo in articulos %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ articulo.imagen.url }}" alt=""
                style="width: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{ articulo.titulo }}</span>
                    <span class="section-heading-upper">{{ articulo.contenido }}</span>
                </h2>
                <div>
                    Autor: {{articulo.autor }}
                </div>
            </div>
        </div>
</section>
{% endfor %}
{% endblock %}